<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between" style="margin-top: 40px">
        <span class="logo">TRAVLR</span>
        <ul class="bar-links">
          <li [routerLink]="['createform']" (click)="showCreate()">add country. <span class="bar"></span></li>
          <li [routerLink]="['countries']" (click)="showDatabase()">view country database. <span class="bar"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

